/* src/Login.css */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5b4ec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(77, 81, 138, 0.829);
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: rgba(77, 81, 138, 0.829);
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(77, 81, 138, 0.829);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #5a5f92;
  }
  
  .error {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  
  .toggle {
    text-align: center;
    margin-top: 20px;
  }
  
  .toggle button {
    padding: 10px 20px;
    background-color: rgba(77, 81, 138, 0.829);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toggle button:hover {
    background-color: #5a5f92;
  }
  